@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "It Coop";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "It Coop";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "It Coop";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
}

*,
*::before,
*::after {
  font-family: "It Coop", "Sans-serif";
  line-height: 1.25;
}

.scroll-bar-none {
  overflow: scroll;
  /* IE scroll 숨김 */
  -ms-overflow-style: none;
}

.scroll-bar-none::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

/* select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
}
select::-ms-expand {
  display: none; 
}

select > option {
} */
