@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "It Coop";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "It Coop";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "It Coop";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "It Coop Landing";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/GmarketSansLight.otf") format("otf");
}

@font-face {
  font-family: "It Coop Landing";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/GmarketSansMedium.otf") format("otf");
}

@font-face {
  font-family: "It Coop Landing";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/GmarketSansBold.otf") format("otf");
}

*,
*::before,
*::after {
  font-family: "It Coop", "Sans-serif";
  line-height: 1.25;
}

.scroll-bar-none {
  overflow: scroll;
  /* IE scroll 숨김 */
  -ms-overflow-style: none;
}

.scroll-bar-none::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.landing {
  font-family: "It Coop Landing", "Sans-serif";
}

summary {
  display: block;
  position: relative;
}

summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent #000 transparent transparent;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: rotate(0) translateY(-50%);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[open] > summary:before {
  transform: rotate(-90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

.applyUserUl::-webkit-scrollbar {
  width: 10px;
}

.applyUserUl::-webkit-scrollbar-track {
  background-color: rgba(233, 233, 233, 1);
  border-radius: 10px;
}
.applyUserUl::-webkit-scrollbar-thumb {
  background: #f8f8f8;
  border-radius: 10px;
}

.self::-webkit-scrollbar {
  width: 10px;
}

.self::-webkit-scrollbar-track {
  background-color: rgba(233, 233, 233, 1);
  border-radius: 10px;
}
.self::-webkit-scrollbar-thumb {
  background: #f9fafb;
  border-radius: 10px;
}

.bar {
  background: #2563d7;
  border-radius: 5px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f9fafb;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(37, 99, 215, 1);
  background: #f3f3f3;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* 로딩 스피너 */
@keyframes ldio-qtrkbrs93u {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-qtrkbrs93u div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-qtrkbrs93u linear 1s infinite;
  background: #4480f7;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}
.ldio-qtrkbrs93u div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #4480f7;
}
.ldio-qtrkbrs93u div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #4480f7;
}
.ldio-qtrkbrs93u div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #4480f7;
}
.ldio-qtrkbrs93u div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #4480f7;
}
.ldio-qtrkbrs93u div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #4480f7;
}
.ldio-qtrkbrs93u div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #4480f7;
}
.ldio-qtrkbrs93u div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #4480f7;
}
.ldio-qtrkbrs93u div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #4480f7;
}
.ldio-qtrkbrs93u div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #4480f7;
}
.ldio-qtrkbrs93u div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #4480f7;
}
.ldio-qtrkbrs93u div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #4480f7;
}
.ldio-qtrkbrs93u div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #4480f7;
}
.loadingio-spinner-spinner-caeee4y6oy {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-qtrkbrs93u {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
